.sure-widget
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 206px;
  height: 214px;
  overflow: hidden;
  transition: width .2s ease-in-out, height .2s ease-in-out
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;

  &.f-loaded
    display: block;

  &.f-closed
    display: none;

  &.f-interacted
    bottom: 0
    right: 0
    width: 100%
    height: 100%

  &__iframe
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
